<div class="contact_us">
  <br/>
  <br/>

   <h1 class="h1 page-title text-center">Contact Us</h1>
   <br/>
<div class ="container">
<div class="row">

       <div class="col-md-4">
   <input class="form-control" id="name" name="name" placeholder="Your Name" > <br />
   <input class="form-control" id="email" name="email" placeholder="Your Email" ><br />
   <input class="form-control" id="phone" name="phone" placeholder="Your Phone" >

       </div>
       <div class="col-md-4">
           <input class="form-control" id="subject" name="subject" placeholder="Subject" > <br />
          <textarea class="form-control" id="message" name="message" placeholder="Message" rows="4"></textarea>
   
       </div>
       <div class="col-md-4">

         <p class="alert alert-success">map goes here </p>

</div>
</div>
<br/>
<div class="row">

       <div class="col-md-8"> 
       <button type="button" class="btn btn-primary btn-block">Submit</button>
 
       </div>
       <div class="col-md-4">


       </div>

</div>


</div>
</div>